body {
    background-color: #f1f1f1;
}

div[class="row search"] {
    position: absolute;
    top: 7%;
    left: 30%;
    right: 20%;
}

@media screen and (max-width:575px) {
    div[class="row search"] {
        width: 350px;
        position: absolute;
        top: 7%;
        left: 30%;
        right: 20%;
    }
}

#search-container,
#ytplayer {
    margin-top: 165px;
    margin-left: 15%;
    margin-right: 10%;
}

#label {
    position: absolute;
    top: 59%;
    left: 18%;
    right: 20%;
    color: black;
}

h5 {
    color: #3b7ec6;
    text-align: left;
}

#search-container {
    background-color: #ffffff;
}

.wraper {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 940px;
    padding: 10px;
}

.title {
    grid-column: 2 / 4;
    grid-row: 1/2;
}

.video {
    grid-column: 1 / 2;
    grid-row: 1/2;
}