div[class='row'] {
    position: absolute;
    top: 40%;
    left: 30%;
    right: 20%;
    width: 100%;
}

@media screen and (max-width:575px) {
    div[class='row'] {
        width: 350px;
        position: absolute;
        top: 40%;
        left: 30%;
        right: 20%;
    }
}