#root {
    
    top: 7%;
    margin-right: 15%;
    height: 100px;
}

.row {
    position: absolute;
    top: 80px;
    left: 15%;
    right: 20%;
}


@media screen and (max-width:575px) {
    div[class='row'] {
        width: 350px;
        position: absolute;
        left: 15%;
    }
}