#player {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 10%;
    min-width: 660px;
    width: 660px;
    height: 320px;
}
    
#author, #name{
    color: black;
    margin-left: 5px;

    
}
#title_videoDetail{
    background-color: white;
    margin-left: 50px;
    width: 660px;
    margin-top: 10px;
    padding: 10px;
}
